<!DOCTYPE html>
<html>
  <head>
    <!--OWN CSS-->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/styles.css') }}">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
    <!--LEAFLET CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <title>Crying @ CU</title>
  </head>

  <body>
    <div id="mapid"></div>

    <h1 id="header" class="overlay">Crying @ CU</h1>
    <button type="button" id="button" class="btn btn-light overlay orientation bodytext">add your own story <i class="fa fa-arrow-down" aria-hidden="true"></i></button>
    <div id="menu" class="overlay orientation2">
      <p class="bodytext">Click on the map to add your story of why you cried.</p>
      <p class="bodytext"><a href="{{ url_for('index') }}">Return to the map</a> to see all the pins.</p>
    </div>

    <!--BOOTSTRAP SCRIPTS-->
    <script src= "{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!--JQUERY SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!--LEAFLET SCRIPTS-->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>

    <script type="text/javascript">
      // create map
      var mymap = L.map('mapid', {zoomControl: false}).setView([40.8075355,-73.96257270000001], 17);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 20,
          id: 'mapbox.streets',
          accessToken: 'pk.eyJ1IjoibWFoMjMwNiIsImEiOiJjam80dzM5NjYwMW5uM2ttcTFpcDZjdTlpIn0.c3w-0VKU2wcsVV1WDDi-bw'
      }).addTo(mymap);

      L.control.zoom({position:'bottomright'}).addTo(mymap);

      $( "#button" ).click(function() {
        $( "#menu" ).toggle();
      });

      function renderData() {
        $.getJSON("/pindata", function(obj) {
            var markers = obj.data.map(function(arr) {
              return L.marker([arr[0], arr[1]]).bindPopup(arr[2]).openPopup();
          });

        layer = L.layerGroup(markers);
        mymap.addLayer(layer);
        });
      }

      $(function() {renderData();})

      var template = '<form id="popup-form">\
            <b>where did u cry?:</b> \
            <input type="text" id="place" name="place" placeholder="ex: butler stacks">\
            <p></p>\
            <b>why did u cry? why here? how did u feel? did anyone help u?:</b>\
            <textarea rows="9" cols="45" id="reason"></textarea>\
            <div id="location"></div>\
            <div id="explanation"></div>\
            <div class="row">\
              <div class="col-md-2">\
                <button class="submit btn btn-primary btn-sm" type="button">Submit</button>\
              </div>\
              <div class="col-md-6"></div>\
              <div id="buttonpad" class="col-md-4">\
                <button class="delete btn btn-outline-secondary btn-sm" type="button">Cancel</button>\
              </div>\
            </div>\
          </form>';

      function addMarker(e) {
        // add marker to map at click location; add popup window
        var newMarker = new L.marker(e.latlng, {draggable: true}).addTo(mymap);
        newMarker.bindPopup(template).openPopup();
        var latitude = e.latlng.lat
        var longitude = e.latlng.lng

        $('#mapid').on('click', '.delete', function() {
          mymap.removeLayer(newMarker)
        });

        $(".submit").click(function() {
          var place = $('#place').val();
          var reason = $('#reason').val();
          document.getElementById('location').innerHTML = place
          document.getElementById('explanation').innerHTML = reason

          $.ajax({
              type: "POST",
              url: "{{ url_for("addpin") }}",
              contentType: "application/json",
              data: JSON.stringify({"latitude": latitude, "longitude": longitude, "reason": reason, "place": place}),
              dataType: "json",
              success: function(response) {
                  console.log(response);
              },
              error: function(err) {
                  console.log(err);
              }
          });
          window.location.replace('http://127.0.0.1:5000/')
        });
      }
      mymap.on('click', addMarker);
    </script>
  </body>
</html>
